body {
  font-family: Calibri;
}
table {
  border-collapse: collapse;

  text-align: center;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.right-aligned {
  text-align: right;
}
.center-aligned {
  text-align: center;
}
.left-aligned {
  text-align: left;
}

caption {
  font-weight: bold;

  text-align: center;
}

.states {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.state {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em 0 0 0;
}
.state.selected {
  border: 2px solid #000;
  background-color: #ddd;
}
.state:hover {
  cursor: pointer;
  background-color: #eee;
}
li {
  display: inline-block;
  margin: 3em;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
img {
  text-align: center;
  align-self: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 1.5em;
  font-weight: bold;
}

.caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

input[type="range"] {
  cursor: pointer;
  touch-action: pan-x;
  overscroll-behavior: contain;
}

input[type="range"] {
  height: 16px; /* track thickness */
}

input[type="range"]::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
}

input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
}
